@font-face {
	font-family: 'Comfortaa VariableFont';
	src: url('/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.woff')
			format('woff'),
		url('/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('ttf');
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: bold;
	src: url('/assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 300;
	src: url('/assets/fonts/Comfortaa/static/Comfortaa-Light.ttf') format('ttf');
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/Comfortaa/static/Comfortaa-Medium.ttf') format('ttf');
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/Comfortaa/static/Comfortaa-SemiBold.ttf')
		format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	src: url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('/assets/fonts/Roboto/Roboto-Light.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/Roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/Roboto/Roboto-SemiBold.woff') format('woff');
}
