<!DOCTYPE html>
<html lang="en">
	{%- include head-page.html -%}
	<body class="min-vh-100 d-flex flex-column">
		{%- include navbar-page.html -%}
		<div class="d-flex flex-grow-1">
			<div class="container d-flex flex-grow-1">
				<div class="row mt-5">
					<div class="col col-12 col-md-8">
						<article class="mb-5">
							<h1 class="mb-1">{{page.title}}</h1>
							<div class="mb-3">{{ page.date | date_to_long_string }}</div>
							<div>{{page.content}}</div>
						</article>
					</div>
					<div class="col col-12 col-md-4">
						<aside>
							<h4 class="mb-3">Recent articles</h4>
							{% for post in site.posts %}
							<div class="mb-3">
								<h6 class="mb-0">
									<a href="{{post.url}}">{{post.title}}</a>
								</h6 class="mb-0">
								<div>{{page.date | date_to_string }}</div>
							</div>
							{% endfor %}
						</aside>
					</div>
				</div>
			</div>
		</div>
		<footer class="front-page-footer d-flex">
			<div
				class="container flex-grow-1 d-flex justify-content-center align-items-center"
			>
				<div class="w-100 mt-3">
					<p class="float-right footer-tag-line">
						Education for the next generation
					</p>
					<p>
						gremloon.io · <a href="/privacy.html">Privacy</a> ·
						<a href="/imprint.html">Imprint</a>
					</p>
				</div>
			</div>
		</footer>
		{%- include cookies.html -%}{%- include footer-scripts.html -%}
	</body>
</html>
